<!-- Barra de Ferramentas -->
<app-toolbar
  (toggleSearchEvent)="onToggleSearch()"
  (openAddDialogEvent)="openAddDialog()">
</app-toolbar>


<div class="field-selection">
  <h3>Exibir Campos:</h3>
  <div *ngFor="let field of displayFields">
    <input
      type="checkbox"
      [checked]="field.selected"
      (change)="toggleField(field.key)"
    />
    <label>{{ field.label }}</label>
  </div>
</div>


<div *ngIf="showSearchBar" class="search-container">
  <form [formGroup]="searchForm" class="search-form">
    <label for="searchField">Buscar por:</label>
    <select id="searchField" formControlName="searchField" class="search-select">
      <option value="name">Nome</option>
      <option value="numberlote">Número do Lote</option>
      <option value="type">Tipo</option>
      <option value="expiryDate">Data de Validade</option>
      <option value="unitPrice">Preço Unitário</option>
      <option value="priceforlote">Preço por Lote</option>
      <option value="description">Descrição</option>
    </select>
    <input
      formControlName="searchTerm"
      type="text"
      placeholder="Digite o termo de busca..."
      class="search-input"
    />
  </form>
</div>

<!-- Lista de Produtos -->
<div *ngIf="filteredProducts.length > 0; else noProducts">
  <h2>Lista de Produtos</h2>

  <ul>
    <li *ngFor="let product of paginatedProducts" class="product-item"
        (mouseenter)="product.showActions = true" (mouseleave)="product.showActions = false">
      <h3><strong>{{ product.name }}</strong></h3>
      <div *ngIf="isFieldVisible('id')">ID: {{ product.id }}</div>
      <div *ngIf="isFieldVisible('description')">Descrição: {{ product.description }}</div>
      <div *ngIf="isFieldVisible('type')">Tipo: {{ product.type }}</div>
      <div *ngIf="isFieldVisible('priceforlote')">
        <strong>Preço por Lote:</strong> R${{ product.priceforlote | number:'1.2-2' }}
      </div>
      <div *ngIf="isFieldVisible('quantity')">
        <strong>Quantidade por Lote:</strong> {{ product.quantity }}
      </div>

      <!-- Botões de Ação -->
      <button *ngIf="product.showActions" class="delete-button" (click)="confirmDelete(product.id)">X</button>
      <button *ngIf="product.showActions" class="edit-button" (click)="openEditDialog(product)">✏️</button>
    </li>
  </ul>

  <!-- Botões de Paginação -->
  <div class="pagination">
    <button *ngFor="let page of [].constructor(totalPages()); let i = index"
            [class.active]="i + 1 === currentPage"
            (click)="changePage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>
</div>

<ng-template #noProducts>
  <p>Nenhum produto disponível no momento.</p>
</ng-template>
