<!-- Barra de Ferramentas com pesquisa e botão de adicionar produto -->
<app-toolbar
  (toggleSearchEvent)="onToggleSearch()"
  (openAddDialogEvent)="openAddDialog()">
</app-toolbar>

<!-- Seção de Filtros Dinâmicos -->
<div *ngIf="showSearchBar" class="search-container">
  <h3>Filtros de Pesquisa</h3>

  <!-- Filtro Dinâmico: Para cada filtro dinâmico adicionado -->
  <div *ngFor="let filter of filters; let i = index" class="filter-group">
    <!-- Selecionar o campo para buscar -->
    <label for="searchField-{{i}}">Buscar por:</label>
    <select [formControl]="filter.searchField" class="search-select">
      <option value="productName">Nome</option>
      <option value="numberLote">Número do Lote</option>
      <option value="productType">Tipo</option>
      <option value="dateExpiration">Data de Validade</option>
      <option value="priceForUnity">Preço Unitário</option>
      <option value="priceForUnityPercent">Preço Unitário com Ganho</option>
      <option value="priceForLote">Preço por Lote</option>
      <option value="priceForLotePercent">Preço por Lote com Ganho</option>
      <option value="gainPercentage">Porcentagem de Ganho</option>
      <option value="description">Descrição</option>
    </select>

    <input
      [formControl]="filter.searchTerm"
      type="text"
      placeholder="Digite o termo de busca..."
      class="search-input"
    />

    <!-- Botão de Remover Filtro -->
    <button (click)="removeFilter(i)" class="remove-filter-button">X</button>
  </div>

  <!-- Botão para Adicionar Novo Filtro -->
  <button (click)="addFilter()" class="add-filter-button">Adicionar Filtro</button>
</div>

<!-- Seção de Exibição de Campos -->
<div class="field-selection">

  <!-- Botão para marcar/desmarcar todos -->
  <button (click)="toggleAllFields()" class="toggle-fields-button">
    Marcar/Desmarcar Todos
  </button>

  <div *ngFor="let field of displayFields">
    <input
      type="checkbox"
      [checked]="field.selected"
      (change)="toggleField(field.key)"
    />
    <label>{{ field.label }}</label>
  </div>
</div>


<!-- Seção de Lista de Produtos -->
<div *ngIf="filteredProducts.length > 0; else noProducts">
  <h2 class="titleproduct">Lista de Produtos</h2>

  <!-- Exibição de Produtos Paginados -->
  <ul class="product-list">
    <li *ngFor="let product of paginatedProducts" class="product-item"
        (mouseenter)="product.showActions = true" (mouseleave)="product.showActions = false">

      <!-- Nome do Produto -->
      <h3><strong>{{ product.productName }}</strong></h3>

      <!-- Exibição de Campos Dinâmicos -->
      <div *ngIf="isFieldVisible('productId')">ID: {{ product.productId }}</div>
      <div *ngIf="isFieldVisible('quantity')">Quantidade: {{ product.quantity }}</div>
      <div *ngIf="isFieldVisible('numberLote')">Número do Lote: {{ product.numberLote }}</div>
      <div *ngIf="isFieldVisible('productType')">Tipo: {{ product.productType }}</div>
      <div *ngIf="isFieldVisible('dateExpiration')">
        Data de Validade: {{ product.dateExpiration | date:'dd/MM/yyyy' }}
      </div>
      <div *ngIf="isFieldVisible('priceForUnity')">
        Preço Unitário: R${{ product.priceForUnity | number:'1.2-2' }}
      </div>
      <div *ngIf="isFieldVisible('priceForUnityPercent')">
        Preço Unitário com Ganho: R${{ product.priceForUnityPercent | number:'1.2-2' }}
      </div>
      <div *ngIf="isFieldVisible('priceForLote')">
        Preço por Lote: R${{ product.priceForLote | number:'1.2-2' }}
      </div>
      <div *ngIf="isFieldVisible('priceForLotePercent')">
        Preço por Lote com Ganho: R${{ product.priceForLotePercent | number:'1.2-2' }}
      </div>
      <div *ngIf="isFieldVisible('gainPercentage')">
        Porcentagem de Ganho: {{ product.gainPercentage }}%
      </div>
      <div *ngIf="isFieldVisible('description')">Descrição: {{ product.description }}</div>

      <!-- Ações de Produto alinhadas nos extremos -->
      <div class="action-buttons" *ngIf="product.showActions">
        <button class="delete-button" (click)="confirmDelete(product.productId)">X</button>
        <button class="edit-button" (click)="openEditDialog(product)">✏️</button>
      </div>


    </li>
  </ul>

  <!-- Navegação de Paginação -->
  <div class="pagination">
    <button *ngFor="let page of [].constructor(totalPages()); let i = index"
            [class.active]="i + 1 === currentPage"
            (click)="changePage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>
</div>

<!-- Caso não haja produtos -->
<ng-template #noProducts>
  <p>Nenhum produto disponível no momento.</p>
</ng-template>
