<div *ngIf="products.length > 0; else noProducts">
  <h2>Lista de Produtos</h2>

  <!-- Exibe a lista de produtos paginada -->
  <ul>
    <li *ngFor="let product of paginatedProducts" class="product-item" (mouseenter)="showDeleteButton = true" (mouseleave)="showDeleteButton = false">
      <h3>{{ product.name }}</h3>
      <p>ID: {{ product.id }}</p>
      <p>Descrição: {{ product.description }}</p>
      <p><strong>Preço por Unidade: </strong>R${{ product.priceforlote / product.quantity }}</p>
      <p><strong>Preço por Lote: </strong>R${{ product.priceforlote }}</p>
      <p><strong>Quantidade por Lote: </strong>{{ product.quantity }}</p>

      <!-- Botão X para deletar -->
      <button *ngIf="showDeleteButton" class="delete-button" (click)="confirmDelete(product.id)">X</button>
    </li>
  </ul>

  <!-- Botões de Paginação -->
  <div class="pagination">
    <button
      *ngFor="let page of [].constructor(totalPages()); let i = index"
      [class.active]="i + 1 === currentPage"
      (click)="changePage(i + 1)">
      {{ i + 1 }}
    </button>
  </div>
</div>

<!-- Caso não haja produtos -->
<ng-template #noProducts>
  <p>Nenhum produto disponível no momento.</p>
</ng-template>
