<div class="product-form-container">
  <h2>Editar Produto</h2>

  <form [formGroup]="productForm" class="product-form">
    <div class="form-group">
      <label for="productName">Nome:</label>
      <input id="productName" formControlName="productName">
    </div>

    <div class="form-group">
      <label for="quantity">Quantidade:</label>
      <input id="quantity" type="number" formControlName="quantity">
    </div>

    <div class="form-group">
      <label for="numberLote">Número do Lote:</label>
      <input id="numberLote" formControlName="numberLote">
    </div>

    <div class="form-group">
      <label for="productType">Tipo:</label>
      <input id="productType" formControlName="productType">
    </div>

    <div class="form-group">
      <label for="dateExpiration">Data de Validade:</label>
      <input id="dateExpiration" type="date" formControlName="dateExpiration">
    </div>

    <div class="form-group">
      <label for="priceForLote">Preço por Lote:</label>
      <input id="priceForLote" type="number" formControlName="priceForLote" step="0.01">
    </div>

    <div class="form-group">
      <label for="gainPercentage">Porcentagem de Ganho:</label>
      <input id="gainPercentage" type="number" formControlName="gainPercentage" step="0.01">
    </div>

    <div class="form-group">
      <label for="description">Descrição:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

    <div class="form-buttons">
      <button mat-button class="close-button" (click)="onCancel()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
    </div>
  </form>
</div>
