<h2 mat-dialog-title>Editar Produto</h2>
<mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="productName">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" formControlName="quantity">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número do Lote</mat-label>
      <input matInput formControlName="numberLote">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo</mat-label>
      <input matInput formControlName="productType">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data de Validade</mat-label>
      <input matInput type="date" formControlName="dateExpiration">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço por Lote</mat-label>
      <input matInput type="number" formControlName="priceForLote" step="0.01">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Porcentagem de Ganho</mat-label>
      <input matInput type="number" formControlName="gainPercentage" step="0.01">
    </mat-form-field>

    <!-- Campos Calculados (Somente Leitura) -->
    <mat-form-field appearance="fill">
      <mat-label>Preço Total com Ganho</mat-label>
      <input matInput formControlName="priceForLotePercent" readonly>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço Unitário</mat-label>
      <input matInput formControlName="priceForUnity" readonly>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço Unitário com Ganho</mat-label>
      <input matInput formControlName="priceForUnityPercent" readonly>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Salvar</button>
</mat-dialog-actions>
